#hero-section {
    background-image: url(images/hero-bg.svg);
}

#hero-logo {
    padding: 69px 0px;
}

a {
    text-decoration: none;
    color: red;
}

.links a {
    background-color: white;
    border: 1px solid red;
}

.links a:hover {
    color: white;
    background-color: red;
    border: 1px solid red;
}

#hero {
    padding: 10px;
}

#hero h2 {
    margin-bottom: 36px;
}

#hero p {
    font-weight: 400px;
    margin-bottom: 16px;
}

#another .container {
    margin-top: 92px;
}

/* #hero {
    padding: 10px;
}

#hero h2 {
    margin-bottom: 36px;
}

#hero p {
    font-weight: 400px;
    margin-bottom: 16px;
}

hero-section h2 {
    margin-bottom: 36px;
} */

/* #main-links {
    margin: 90px 0px 52px 0px;
} */