body {
    color: #524949;
    font-family: Averta, sans-serif;
}

#hero-section {
    background-image: url(images/hero-bg.svg);
}

#hero-logo {
    padding: 69px 0px;
}

a {
    text-decoration: none;
    color: red;
}

.links a {
    background-color: white;
    border: 1px solid red;
}

.links a:hover {
    color: white;
    background-color: red;
    border: 1px solid red;
}

#hero {
    padding: 10px;
}

#hero h2 {
    margin-bottom: 36px;
}

#hero p {
    font-weight: 400px;
    margin-bottom: 16px;
}

#another .container {
    margin-top: 92px;
}

#programs-section {
    background-color: #fff;
    /* background-image: url(images/program-bg.png); */
}

.programs {
    background-color: #fff;
}

.each-program {
    background-color: #fffafa;
}

#programs-section .col-12 h5 {
    font-size: 14px; 
    color:red;
}

.programs a {
    font-size: 16px;
    font-weight: 500;
}

#slogan {
    font-size: 24px;
}

.link-icons {
    width: 18px;
    height: 18px;
}

#copyright {
    font-size: 16px;
    font-weight: bold;
}